{% extends "layout.html" %}
{% block content %}

  <div class="container">
    <header>
      <div class="row justify-content-center">
        <h1> Thank you!</h1>
      </div>
      <div class="row justify-content-center">
        <p class="lead">Please add your review</p>
      </div>
    </header>

    <form action="{{ url_for('add') }}" method=post>
      <div class="container container-inner">
        <div class="form-group row">
          <div class="col-3">
            <label for="name">Food Truck Name</label>
          </div>
          <div class="col-9">
            <input type="text" name="name" id="name" class="form-control" placeholder="Foodtruck Name">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="address">Address</label>
          </div>
          <div class="col-9">
            <input type="text" name="address" id="address" class="form-control" placeholder="Ex. 5415 Sw South Street">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="city">City</label>
          </div>
          <div class="col-9">
            <input type="text" name="city" id="city" class="form-control" placeholder="City">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="state">State</label>
          </div>
          <div class="col-9">
            <input type="text" name="state" id="state" class="form-control" placeholder="State">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="zip">Zip Code</label>
          </div>
          <div class="col-9">
            <input type="text" name="zip" id="zip" class="form-control" placeholder="Zip Code">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="phone">Store Hours</label>
          </div>
          <div class="col-9">
            <input type="text" name="hours" id="hours" class="form-control" placeholder="Store Hours">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="phone">Phone Number</label>
          </div>
          <div class="col-9">
            <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone Number">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="rating">Rating</label>
          </div>
          <div class="col-9">
            <input type="text" name="rating" id="rating" class="form-control" placeholder="Overall Rating Out of 5">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="pricing">Pricing</label>
          </div>
          <div class="col-9">
            <input type="text" name="pricing" id="pricing" class="form-control" placeholder="Pricing Out of 5">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <label for="parking">Parking</label>
          </div>
          <div class="col-9">
            <input type="text" name="parking" id="parking" class="form-control" placeholder="Parking Availability">
          </div>
        </div>
        <div class="form-group">
          <label for="review">Please describe your experience and opinions of the food/service.</label>
          <textarea class="form-control" rows="6" id="review" name="review"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-4">
          <label for="submit">
            <button class="btn btn-primary" type="submit" id="submit" value="Add">
              Submit
            </button>
          </label>
          <label for="reset">
            <button class="btn btn-secondary" type="reset" id="reset" value="Reset" onlick="reset_form()">
              Reset
            </button>
          </label>
        </div>
      </div>
    </form>
  </div>

{% endblock %}
